<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the number game</title>
</head>
<body>
    <form method="post">
        <input type="number" name="number" required>
        <input type="submit">
    </form>
    <form method="post">
        <input type="submit" name="reset" value="Reset Number">
    </form>
    <pre>
        Result: {{output}}
        Random Number: {{randomnumb}}
        Number to be guessed: {{number}}
    </pre>
</body>
</html>